*{
    margin: 0;
    padding: 0;
}
ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: end;
    padding: 10px;
}
li{
   font-family: "Ruum Kufi", sans-serif !important;
    font-size: 1.5rem;
    padding: 10px
}
li:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    border: 5px solid black;
    border-radius: 20px;
}