*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #9BADFE;
    justify-content: end;
    align-items: center;
}
.navegation{
    display: flex;
    list-style: none;
}
.item1{
    position: absolute;
    left: 1px;
    background-color: #B6C3FE;
    border-radius: 2px;
    margin-left: 5px;
    border: 1px solid #6984FE;
    padding: 5px;
}
.item{
    margin-left: 15px;
    margin-right: 10px;
    background-color: #B6C3FE;
    border-radius: 2px;
    border: 1px solid #6984FE;
    padding: 5px;
}
.content-box{
    height: 500px;
}